@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scorllbar for Chrome, Safari, and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scorllbar for IE, Edge, and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@media (min-width: 640px) {
  .zoom-90 {
    zoom: 90%;
  }
}
